<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination System - Dose List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Dose List</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Dose ID</th>
            <th>Citizen Id</th>
            <th>Dose Name</th>
            <th>Doctor</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dose : ${doses}">
            <td th:text="${dose.doseId}"></td>
            <td th:text="${dose.citizenId}"></td>
            <td th:text="${dose.doseName}"></td>
            <td th:text="${dose.doseGivenBy}"></td>
            <td th:text="${dose.given_date}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>